.contenedor-splitter {
  height: 100%;
}

.login-background {
  background-image: url('@/assets/fondo.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: rgba(255, 255, 255, 0.205); /* Blanco con transparencia */
  backdrop-filter: blur(8px); /* Desenfoque */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 90%;
  max-width: 400px;
}

.p-password:has(.p-password-toggle-mask-icon) .p-password-input {
  width: 100%;
}
.p-password{
  width: 100%;
}