<div class="card">
  <DataTable
  :value="productos"
  :paginator="true"
  :rows="10"
  :rowsPerPageOptions="[10, 20, 50]"
  :currentPageReportTemplate="'{first} a {last} de {totalRecords}'"
  v-model:filters="filters"
  :loading="loading"
  filterDisplay="row"
  size="small"
  stripedRows 
  :globalFilterFields="columnas.map(c => c.field)"
>
  <template #header>
    <div class="flex flex-row-reverse flex-wrap" style="margin-bottom: 10px;">
        <div class="flex align-items-center justify-content-center">
          <Button severity="success" raised icon="pi pi-plus-circle" label="Crear Nuevo" @click="muestramodal" />
      </div>
    </div>
    <div class="flex justify-content-between flex-wrap">
      <div class="flex align-items-center justify-content-center">
        <Button severity="warn" icon="pi pi-filter-slash" label="Borrar Filtros" @click="limpiarFiltros" />
      </div>
      <div class="flex align-items-center justify-content-center">
          <p class="text-2xl w-10">Macroprocesos</p>
        </div>
      <div class="flex align-items-center justify-content-center">
        <IconField iconPosition="left" class="w-full md:w-20rem">
          <InputIcon class="absolute mt-2 ml-2">
            <i class="pi pi-search" />
          </InputIcon>
          <InputText v-model="filters['global'].value" placeholder="Buscar..." class="pl-8 w-full"  />
        </IconField>
      </div>
    </div>
  </template>

  <template v-for="col in columnas" :key="col.field">
    <Column :field="col.field" :header="col.header">
      <template #filter="{ filterModel, filterCallback }">
        <InputText
          v-model="filterModel.value"
          @input="filterCallback()"
          :placeholder="'Filtrar ' + col.header"
          class="p-column-filter"
        />
      </template>
    </Column>
  </template>


  <Column header="Acciones" class="w-24 !text-end">
    <template #body="{ data }">
      <div class="flex gap-2 justify-end">
        <Button icon="pi pi-eye" severity="info" rounded />
        <Button icon="pi pi-pencil" severity="danger" rounded />
        <Button icon="pi pi-trash" severity="success" rounded />
      </div>
    </template>
  </Column>
</DataTable>


  <Dialog v-model:visible="visible" header="Nuevo Macroproceso" :position="position" :style="{ width: '40rem' }">
    <div class="formgrid grid">
      <div class="field col">
        <label for="firstname2">Nombre</label>
        <input v-model="v_nombre" id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      <div class="field col">
        <label for="lastname2">Tipo</label>
        <Select v-model="v_tipo" :options="tipos" optionValue="code" optionLabel="name"  class="w-full md:w-56" />    
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field col">
        <label for="lastname2">Area</label>
        <Select v-model="v_area" :options="areas" optionValue="code" optionLabel="name"  class="w-full md:w-56" />       
      </div>
      <div class="field col">
        <label for="lastname2">Responsable</label>
        <Select v-model="v_responsable" :options="responsables" optionValue="code" optionLabel="name"  class="w-full md:w-56" />    
      </div>
    </div>
    <div class="flex flex-row-reverse flex-wrap" style="margin-bottom: 10px;">
        <div class="flex align-items-center justify-content-center">
          <Button @click="visible = false" severity="danger" raised icon="pi pi-times-circle" label="Cerrar" style="margin-right: 5px;"/>
          <Button severity="success" raised icon="pi pi-plus-circle" label="Crear" @click="crearmacroproceso" />
      </div>
    </div>
  </Dialog>
</div>