<div class="card">
  <DataTable
  :value="macrodatas"
  :paginator="true"
  :rows="10"
  :rowsPerPageOptions="[10, 20, 50]"
  :currentPageReportTemplate="'{first} a {last} de {totalRecords}'"
  v-model:filters="filters"
  :loading="loading"
  filterDisplay="row"
  size="small"
  stripedRows 
  :globalFilterFields="columnas.map(c => c.field)"
>
  <template #header>
    <div class="flex flex-row-reverse flex-wrap" style="margin-bottom: 10px;">
        <div class="flex align-items-center justify-content-center">
          <Button severity="success" raised icon="pi pi-plus-circle" label="Crear Nuevo" @click="muestramodal" />
      </div>
    </div>
    <div class="flex justify-content-between flex-wrap">
      <div class="flex align-items-center justify-content-center">
        <Button severity="warn" icon="pi pi-filter-slash" label="Borrar Filtros" @click="limpiarFiltros" />
      </div>
      <div class="flex align-items-center justify-content-center">
          <p class="text-2xl w-10">Macroprocesos</p>
        </div>
      <div class="flex align-items-center justify-content-center">
        <IconField iconPosition="left" class="w-full md:w-20rem">
          <InputIcon class="absolute mt-2 ml-2">
            <i class="pi pi-search" />
          </InputIcon>
          <InputText v-model="filters['global'].value" placeholder="Buscar..." class="pl-8 w-full"  />
        </IconField>
      </div>
    </div>
  </template>


  <Column header="" class="w-24 !text-end">
    <template #body="{ data }">
      <div class="flex gap-2 justify-content-center">
        <span 
          v-if="data.estado === 'P'" 
          class="pi pi-thumbs-up" 
          style="color: #22c55e"
          :title="'Estado: Pendiente por Aprobar'"
        ></span>
        <span 
          v-else-if="data.estado === 'A'" 
          class="pi pi-thumbs-up-fill" 
          style="color: #22c55e"
          :title="'Estado: Aprobado'"
        ></span>
        <span 
          v-else-if="data.estado === 'R'" 
          class="pi pi-thumbs-down-fill" 
          style="color: #ff0000"
          :title="'Estado: Rechazado'"
        ></span>
      </div>
    </template>
  </Column>


  <template v-for="col in columnas" :key="col.field">
    <Column :field="col.field" :header="col.header" v-if="col.field != 'estado' && col.field != 'cantidad'" >
      <template #filter="{ filterModel, filterCallback }">
        <InputText
          v-model="filterModel.value"
          @input="filterCallback()"
          :placeholder="'Filtrar ' + col.header"
          class="p-column-filter"
        />
      </template>
    </Column>
  </template>


  <Column header="Acciones" class="w-24 !text-end">
    <template #body="{ data }">
      <div class="flex gap-2 justify-end">
        <Button icon="pi pi-pencil" severity="warn" rounded :title="'Editar Macro Proceso'" @click="editarmacro(data)"/>
        <Button icon="pi pi-comments" severity="help" rounded :title="'Ver Comentarios'"  @click="comentarios(data.id)"/>
        <Button v-if="data.estado != 'A' " icon="pi pi-check-square" severity="success" rounded :title="'Aprobar Macro Proceso' " @click="estadomacroproceso('A',data)"/>
        <Button v-if="data.estado === 'A' " icon="pi pi-times-circle" severity="secondary" rounded :title="'Rechazar Macro Proceso'" @click="estadomacroproceso('R',data)"/>
        <Button v-if="data.cantidad === '0'" icon="pi pi-trash" severity="danger" rounded :title="'Eliminar Macro Proceso'"  @click="eliminarmacroproceso(data)" />
        <Button v-if="data.cantidad > '0'" icon="pi pi-share-alt" severity="info" rounded :title="'Relaciones del Macro Proceso'"  @click="verrelacion(data)" />
      </div>
    </template>
  </Column>
  </DataTable>


  <Dialog v-model:visible="visible" header="Nuevo Macroproceso" :position="position" :style="{ width: '40rem' }">
    <div class="formgrid grid">
      <div class="field col">
        <label for="firstname2">Nombre</label>
        <input v-model="v_nombre" id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      <div class="field col">
        <label for="lastname2">Tipo</label>
        <Select v-model="v_tipo" :options="tipos" optionValue="code" optionLabel="name"  class="w-full md:w-56" />    
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field col">
        <label for="lastname2">Area</label>
        <Select v-model="v_area" :options="areas" optionValue="code" optionLabel="name"  class="w-full md:w-56" />       
      </div>
      <div class="field col">
        <label for="lastname2">Responsable</label>
        <Select v-model="v_responsable" :options="responsables" optionValue="code" optionLabel="name"  class="w-full md:w-56" />    
      </div>
    </div>
    <div class="flex flex-row-reverse flex-wrap" style="margin-bottom: 10px;">
        <div class="flex align-items-center justify-content-center">
          <Button @click="visible = false" severity="danger" raised icon="pi pi-times-circle" label="Cerrar" style="margin-right: 5px;"/>
          <Button v-show="bot_crear" severity="success" raised icon="pi pi-plus-circle" label="Crear" @click="crearmacroproceso" />
          <Button v-show="bot_actua" severity="success" raised icon="pi pi-plus-circle" label="Actualizar" @click="editarmacroproceso" />
      </div>
    </div>
  </Dialog>

  <Dialog v-model:visible="visible2" header="Comentarios del Macroproceso" :position="position" :style="{ width: '40rem' }">
    <DataView :value="comentariosdata">
      <template  #header>
        <div class="formgrid grid">
            <div v-for="tab in comentariosdata"  class="formgrid grid col-12" style="border-radius: 5px; margin-bottom: 5px;">
              
                  <div class="field col-2" style="margin-top: 5px; text-align: center;">
                    <i class="pi pi-user" style="font-size: 2.5rem"></i>
                  </div>
                  <div class="field col-9" style="margin-top: 5px; background-color: rgba(72, 111, 177, 0.992); border-radius: 5px; color: aliceblue;">
                    <div class="field col-12" style="margin-top: 5px; font-size: 12px;">
                      <label for="lastname2">{{tab.responsable}}</label>     
                    </div>
                    <div class="field col-12">
                      <label for="lastname2" v-html="tab.comentario"></label>   
                    </div>
                      <div class="field col-12" style="text-align: right; font-size: 12px;">
                      <label for="lastname2">{{tab.fecha}}</label>     
                    </div>
                  </div>
            </div>
        </div>
      </template>
    </DataView>
     <template #footer style="margin-top: 5px;">
        <div class="field col" style="text-align: right;">
          <Button @click="visible2 = false"  severity="danger" raised icon="pi pi-times-circle" label="Cerrar" style="margin-right: 5px;"/>
          <Button severity="success" raised icon="pi pi-plus-circle" label="Crear" @click="nuevocomentario" />
        </div>
    </template>
  </Dialog>

  <Dialog v-model:visible="visible3" header="Crear Comentario" :position="position" :style="{ width: '40rem' }">
      <Editor v-if="visible3"  v-model="v_comentario" editorStyle="height: 320px">
        <template v-slot:toolbar>
            <span class="ql-formats">
                <button v-tooltip.bottom="'Bold'" class="ql-bold"></button>
                <button v-tooltip.bottom="'Italic'" class="ql-italic"></button>
                <button v-tooltip.bottom="'Underline'" class="ql-underline"></button>
            </span>
        </template>
    </Editor>
    <template #footer style="margin-top: 5px;">
      <div class="field col" style="text-align: right;">
        <Button @click="visible3 = false"  severity="danger" raised icon="pi pi-times-circle" label="Cerrar" style="margin-right: 5px;"/>
        <Button severity="success" raised icon="pi pi-plus-circle" label="Guardar" @click="crearcomentario" />
      </div>
  </template>
  </Dialog>

  <Dialog v-model:visible="visible4" header="Procesos Relacionados" :position="position" :style="{ width: '60rem' }">
    <label><b>Macro Proceso:</b>{{titulomacro}}</label>
    <DataTable :value="procesos" tableStyle="min-width: 50rem" style="font-size: 14px;">
      <Column field="id" header="ID"></Column>
      <Column field="Nombre" header="Nombre"></Column>
      <Column field="objetivo" header="objetivo"></Column>
      <Column field="nombre_area" header="nombre_area"></Column>
      <Column field="tipo_cliente" header="tipo_cliente"></Column>
      <Column field="responsable" header="responsable"></Column>
      <Column field="tipo_cliente" header="tipo_cliente"></Column>
      
    </DataTable>
  </Dialog>

  
</div>